<html>

<head>
	<title>BARANGAY SAP MONITORING SYSTEM</title>
</head>


<body>

{% extends 'base.html' %}
{% block content %}



	<div id="myDIV" class="header">
		<h1>BARANGAY SAP MONITORING SYSTEM</h1>
		<h2>SAP BENEFICIARIES REGISTRATION</h2>
	
		<form method="POST" action="/MNList/new">
		        <input type="text" id="Municipality" name="Municipality" placeholder="Enter Municipality" />
			<input type="text" id="Brgy" name="Brgy" placeholder="Enter Barangay" />
			<input type="text" id="BrgyID" name="BrgyID" placeholder="Enter Barangay ID" /> {% csrf_token %}
			<input type="submit" id="bAdd" name="bAdd" value="SUBMIT" class=button> </form>
	</div>
	<table id="id_table" name='tr'>
		<tr>	
			<th>Barangay Code</th>
			<th>Municipality</th>
			<th>Barangay</th>
			
		</tr>
		<tr> {% for ibrgy in ibrgys %}
			
		        <td> <a href=MNList/{{ibrgy.id}}>{{ibrgy.bID}}</a></td>
			<td>{{ibrgy.mncplty}}</td>
			<td>{{ibrgy.bname}}</td>
		
		</tr> {% endfor %}
        </table>
		
		
</body>
{% endblock %}
</html>
