<html>

<head>
	<title>SAP INFORMATION</title>
</head>


<body>

{% extends 'base.html' %}
{% block content %}
	<div id="myDIV" class="header">
	<h2>
		 {{ibrgy.mncplty}} Brgy {{ibrgy.bname}} Link:Localhost:8000/MNList {{ibrgy.id}} 
		</h2>
		<h1>SAP INFORMATION</h1>
		
		
	
		<form method="POST" action="/MNList/{{ bresidents.id }}/add_dependent">
			<input type="text" id="category" name="category" placeholder="Enter Family Member" />
			<input type="text" id="amount" name="amount" placeholder="Enter Relation" />
			<input type="submit" id="bAdd" name="bAdd" value="CONFIRM" class=button> {% csrf_token %} </form>
	</div>
	<table id="id_table" name='tr'>
		<tr>
			<th>Name</th>
			<th>Relation</th>
			<th>Address</th>
		</tr> 
		{% for bresidents in ibrgy.bresidents_set.all %}
		<tr>
			<!{{ forloop.counter }}:  -->
			<td>{{ forloop.counter }} : {{bresidents.rname }}</td>
			<td>{{bresidents.rrelation}}</td>
			<td>{{bresidents.radd}}</td>
			
		
		</tr> {% endfor %} </table>
</body>
{% endblock %}
</html>
