<html>

<head>
	<title>BARANGAY SAP MONITORING SYSTEM</title>
</head>


<body>

{% extends 'base.html' %}
{% block content %}



	<div id="myDIV" class="header">
		
		
		<h1>BARANGAY SAP MONITORING SYSTEM</h1>
		<h2>SAP BENEFICIARIES REGISTRATION</h2>


		<h4>
		{% for bresidents in ibrgy.bresidents_set.all %}
		 NAME: {{ bresidents.rlname.upper }},{{ bresidents.rfname.upper }} {{ bresidents.rmname.upper }}. 
		{% endfor %}
		</h4>
		<form method="POST" action="/{{ ibrgy.id }}/add_beneficiary">
			<select id="btranche" name="btranche" onchange="random_function()">
		        <option value="0">Select Trance</option>
  			<option value="1">1st Tranche</option>
  			<option value="2">2nd Tranche</option>
  			<option value="3">3rd Tranche</option>
			</select>
			
			<input type="text4" id="bincome" name="bincome" placeholder="Monthly Income" required>
			
			<select id="bcategory" name="bcategory">
		        <option value="0">Select Existing Beneficiary</option>
  			<option value="4ps Beneficiary">4ps Beneficiary</option>
  			<option value="UCT Beneficiary">UCT Beneficiary</option>
  			<option value="Indigenous Group">Indigenous Group</option>
  			<option value="Solo Parent">Solo Parent</option>
  			<option value="Senior Citize">Senior Citizen</option>
  			<option value="None">None</option>
  			</select>	          
		     
		        <select id="bclass" name="bclass" onchange="cclass();">
		        <option value="">Select Class</option>
  			<option value="4,000">Low-income Class</option>
  			<option value="1,000">Medium-income Class</option>
  			<option value="0">High-income Class</option>
			</select>
			
			  {% for sdistribution in sdistribution %}
		        <select id="bmode" name="bmode">
		        <option value="0">Mode of Payment</option>
			<option value="{{ sdistribution.dmode }}">{{ sdistribution.dmode }}</option>
		
			</select>
			<select id="bmode" name="bmode">
		        <option value="0">Type</option>
			<option value="{{ sdistribution.dtype }}">{{ sdistribution.dtype }}</option>
			</select>
			<select id="bmode" name="bmode">
		        <option value="0">Location</option>
			<option value="{{ sdistribution.dlocation }}">{{ sdistribution.dlocation }}</option>
			</select>
		
			
			
			{% endfor %}

			<input type="text4" id="bamount" name="bamount" placeholder="Amount">
			 {% csrf_token %}
			<input type="submit" id="bAdd" name="bAdd" value="SUBMIT" class=button> </form>
			
			
			
			<script>
function cclass()
{
	var d=document.getElementById("bclass");
	var displaytext=d.options[d.selectedIndex].value;
	document.getElementById("bamount").value=displaytext;
}




</script>


	


	<table id="id_table" name='tr'>
		<tr>	
			
			<th>Monthly Income</th>
			<th>Existing Beneficiary</th>
			<th>Class</th>
			<th>Amount</th>
		
			
		</tr> 
			{% for bresidents in ibrgy.bresidents_set.all %}
	
		<tr>
			
			<td>{{ sbeneficiary.sincome.upper }}</td>
			<td>{{ sbeneficiary.sincome.upper }}</td>
			<td>{{ sbeneficiary.scategory.upper }}</td>
			<td>{{ sbeneficiary.sclass.upper }}</td>
			<td>{{ sbeneficiary.samount.upper }}</td>

		
		</tr> {% endfor %}
        </table>
		
		
</body>
{% endblock %}
</html>
