<html>

<head>
	<title>BARANGAY SAP MONITORING SYSTEM</title>
</head>



<body>

{% extends 'base.html' %}
{% block content %}



	<div id="myDIV" class="header">
		<h1>BARANGAY SAP MONITORING SYSTEM</h1>
		<h2>SAP STATUS</h2>
	<h4>
 		
		</h4>
		<form method="POST" action="/{{ibrgy.id}}/statusb/add_status">
			<select id="sstatus" name="sstatus">	
		        <option value="0">Select Status</option>
  			<option value="Claimed">Claimed</option>
  			<option value="Unclaimed">Unclaimed</option>
  			</select>
			<input type="date" id="sdate" name="sdate">
			<input type="txt" id="sperson" name="sperson" placeholder="Name of Person Administered"> 
			<input type="txt" id="sremark" name="sremarks" placeholder="Enter Remarks"> {% csrf_token %}
			<input type="submit" id="bAdd" name="bAdd" value="SUBMIT" class=button> </form>
	</div>
	 {% csrf_token %}
		<table id="id_table" name='tr'>
		<tr>
		
			
			<th>Status</th>
			<th>Date</th>
			<th>Administered by</th>
			<th>Remarks</th>
		
			
		</tr> 
	
		<tr>{% for statusdb in statusdb %}
			<td>{{ statusdb.dstatus.upper }}</td>
			<td>{{ statusdb.ddate }}</td>
			<td>{{ statusdb.dperson.upper }}</td>
			<td>{{ statusdb.dremarks.upper }}</td>
	 
  			  
		
		</tr>{% endfor %} </table>
	
</body>
{% endblock %}
</html>
